.cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 1.5rem;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

@media (min-width: 640px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.article {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #2b3137;
  cursor: pointer;
}

.article:hover {
  background-color: #303846;
}

a:hover,
a:visited {
  text-decoration: none;
}

.logo {
  background-color: white;
  margin-bottom: 1rem;
  height: 145px;
  align-content: center;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 50px;
}

.CardBody{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.name {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
}
.readMore:hover{
  text-decoration: underline;
}
