

.card {
  margin-top: 2rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: medium;
 margin-bottom: 1rem;
}
