.videoList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}
.videoCardVideo {
  overflow: hidden;
  height: 180px;
  object-fit: contain;
  border-bottom: 2px solid var(--ifm-color-emphasis-200);
}
.videoCardIframe {
  width: 100%;
  height: 100%;
}

.videoCardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.videoCardTitle {
  margin-bottom: 0;
  flex: 1 1 auto;
}

.videoCardTitle {
  font-size: smaller;
  margin-bottom: 1rem;
}
.videoCardTags {
  font-size: smaller;
  display: flex;
  justify-content: space-between;
}
.videoCardHighlights {
  font-size: smaller;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
}
.tag {
  font-size: smaller;
  background-color: var(--ifm-color-emphasis-200);
  padding: 5px;
  border-radius: 5px;
  color: var(--ifm-color-emphasis-900);
}

.speaker,
.language {
  font-size: smaller;
}
