/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-color: #2b3137;
  padding: 5rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  color: white;
}
.heroTitle {
  font-size: 60px;
}
.highlight {
  color: #45ba4b;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 3rem 0;
  }
  .heroTitle {
    font-size: 36px;
  }
}

.buttons {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  flex-wrap: wrap;
  gap: 20px;
}

.getStarted {
  border: 2px solid #45ba4b;
  line-height: 1em;
  text-decoration: none !important;
  text-transform: uppercase;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 14px 20px;
  white-space: nowrap;
}
.getStarted:hover {
  background: #45ba4b;
  color: #2b3137;
}

.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}
.featureImage {
  height: 200px;
  width: 200px;
}

.featureRow {
  align-items: center;
  padding: 5rem 0;
}
.featureRow video {
  filter: grayscale(20%);
  max-width: 100%;
}
.featureRowAlt {
  flex-direction: row-reverse;
}
.featureContainerAlt {
  background: #ecf3fa;
}
html[data-theme='dark'] .featureContainerAlt {
  background: #1e2124;
}

.logosSection {
  background: #f8fbfe;
}
html[data-theme='dark'] .logosSection {
  background: #2b3137;
  color: white;
}

.logosColumn {
  text-align: center;
  margin: 5rem 0;
}
ul.logosList {
  list-style: none;
  margin: 40px 0 20px;
  padding: 0;
}
ul.logosList li {
  display: inline-block;
  margin: 0 20px;
}
ul.logosList li img {
  max-width: 100px;
  max-height: 65px;
}

img {
  height: auto;
}
