.cards{
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
@media (min-width: 420px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 768px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1200px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}
@media (min-width: 1400px) {
  .cards { grid-template-columns: repeat(5, 1fr); }
}