/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-color: #2b3137;
  padding: 5rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  color: white;
}
.heroTitle {
  font-size: 60px;
}
.highlight {
  color: #45ba4b;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 3rem 0;
  }
  .heroTitle {
    font-size: 36px;
  }
}

.githubStars {
  border: none;
  margin-left: 24px;
  overflow: hidden;
}

.buttons {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.getStarted {
  border: 2px solid #45ba4b;
  line-height: 1em;
  text-decoration: none!important;
  text-transform: uppercase;
  border-radius: 8px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 14px 24px;
}
.getStarted:hover {
  background: #45ba4b;
  color: #2b3137;
}

.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}
