.cards{
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
@media (min-width: 420px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 768px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1200px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}
@media (min-width: 1400px) {
  .cards { grid-template-columns: repeat(5, 1fr); }
}

.card {
  margin-top: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.cardBody {
  height: auto;
  margin: 0;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0;
}

.name {
  font-size: large;
 
}

.city, .country, .languages {
  font-weight: normal;
  font-size: medium;
  text-align: center;
  margin: 0;
}

.socialLinks {
  display: flex;
  justify-content: center;
}
.socialLinks a{
  margin-top: .5rem;
  padding: 0 12px;
}

.websiteLink:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.655 6.345a3.56 3.56 0 01.008 5.03l-.008.008-1.575 1.575a3.566 3.566 0 01-5.038 0 3.566 3.566 0 010-5.038l.87-.87a.375.375 0 01.64.249c.014.415.089.833.226 1.236a.377.377 0 01-.088.389l-.307.307c-.657.657-.678 1.726-.027 2.39a1.69 1.69 0 002.398.011l1.575-1.574a1.687 1.687 0 00-.242-2.588.376.376 0 01-.163-.295.933.933 0 01.274-.699l.494-.493a.377.377 0 01.482-.04c.172.119.333.254.481.402zm3.303-3.303a3.566 3.566 0 00-5.038 0L6.345 4.617a3.56 3.56 0 00.481 5.441c.15.105.353.089.482-.04l.494-.494a.933.933 0 00.274-.699.376.376 0 00-.163-.295 1.687 1.687 0 01-.242-2.587l1.575-1.575a1.69 1.69 0 012.398.012c.65.663.63 1.732-.027 2.39l-.307.306a.377.377 0 00-.088.39c.137.402.212.82.227 1.235.012.326.409.48.64.249l.87-.87a3.566 3.566 0 000-5.038z'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .websiteLink:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M9.655 6.345a3.56 3.56 0 01.008 5.03l-.008.008-1.575 1.575a3.566 3.566 0 01-5.038 0 3.566 3.566 0 010-5.038l.87-.87a.375.375 0 01.64.249c.014.415.089.833.226 1.236a.377.377 0 01-.088.389l-.307.307c-.657.657-.678 1.726-.027 2.39a1.69 1.69 0 002.398.011l1.575-1.574a1.687 1.687 0 00-.242-2.588.376.376 0 01-.163-.295.933.933 0 01.274-.699l.494-.493a.377.377 0 01.482-.04c.172.119.333.254.481.402zm3.303-3.303a3.566 3.566 0 00-5.038 0L6.345 4.617a3.56 3.56 0 00.481 5.441c.15.105.353.089.482-.04l.494-.494a.933.933 0 00.274-.699.376.376 0 00-.163-.295 1.687 1.687 0 01-.242-2.587l1.575-1.575a1.69 1.69 0 012.398.012c.65.663.63 1.732-.027 2.39l-.307.306a.377.377 0 00-.088.39c.137.402.212.82.227 1.235.012.326.409.48.64.249l.87-.87a3.566 3.566 0 000-5.038z'/%3E%3C/svg%3E")
    no-repeat;
}

.linkedInLink:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.3202 13.0704H10.1858V9.72805C10.1858 8.93205 10.1722 7.90645 9.0762 7.90645C7.9642 7.90645 7.7954 8.77525 7.7954 9.67205V13.0704H5.661V6.19845H7.7082V7.13765H7.7378C8.0226 6.59765 8.7194 6.02805 9.7586 6.02805C11.921 6.02805 12.321 7.45045 12.321 9.30165V13.0704H12.3202ZM3.2538 5.26005C3.09118 5.26021 2.93011 5.22833 2.7798 5.16624C2.62949 5.10415 2.49288 5.01306 2.37777 4.89818C2.26266 4.78329 2.17131 4.64686 2.10893 4.49667C2.04655 4.34648 2.01436 4.18548 2.0142 4.02285C2.01405 3.86022 2.04592 3.69915 2.10801 3.54884C2.1701 3.39853 2.26119 3.26192 2.37608 3.14682C2.49096 3.03171 2.62739 2.94036 2.77758 2.87798C2.92777 2.81559 3.08878 2.78341 3.2514 2.78325C3.57985 2.78293 3.89497 2.9131 4.12744 3.14512C4.35991 3.37714 4.49069 3.692 4.491 4.02045C4.49132 4.34889 4.36115 4.66401 4.12913 4.89648C3.89711 5.12895 3.58225 5.25973 3.2538 5.26005ZM2.1842 13.0704H4.3218V6.19845H2.1834V13.0704H2.1842ZM13.3842 0.800049H1.1122C0.525805 0.800049 0.0498047 1.26485 0.0498047 1.83845V14.1608C0.0498047 14.7344 0.525805 15.2 1.1122 15.2H13.3842C13.9714 15.2 14.4498 14.7344 14.4498 14.1608V1.83845C14.4498 1.26485 13.9714 0.800049 13.3842 0.800049Z'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .linkedInLink:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' fill-rule='evenodd' clip-rule='evenodd' d='M12.3202 13.0704H10.1858V9.72805C10.1858 8.93205 10.1722 7.90645 9.0762 7.90645C7.9642 7.90645 7.7954 8.77525 7.7954 9.67205V13.0704H5.661V6.19845H7.7082V7.13765H7.7378C8.0226 6.59765 8.7194 6.02805 9.7586 6.02805C11.921 6.02805 12.321 7.45045 12.321 9.30165V13.0704H12.3202ZM3.2538 5.26005C3.09118 5.26021 2.93011 5.22833 2.7798 5.16624C2.62949 5.10415 2.49288 5.01306 2.37777 4.89818C2.26266 4.78329 2.17131 4.64686 2.10893 4.49667C2.04655 4.34648 2.01436 4.18548 2.0142 4.02285C2.01405 3.86022 2.04592 3.69915 2.10801 3.54884C2.1701 3.39853 2.26119 3.26192 2.37608 3.14682C2.49096 3.03171 2.62739 2.94036 2.77758 2.87798C2.92777 2.81559 3.08878 2.78341 3.2514 2.78325C3.57985 2.78293 3.89497 2.9131 4.12744 3.14512C4.35991 3.37714 4.49069 3.692 4.491 4.02045C4.49132 4.34889 4.36115 4.66401 4.12913 4.89648C3.89711 5.12895 3.58225 5.25973 3.2538 5.26005ZM2.1842 13.0704H4.3218V6.19845H2.1834V13.0704H2.1842ZM13.3842 0.800049H1.1122C0.525805 0.800049 0.0498047 1.26485 0.0498047 1.83845V14.1608C0.0498047 14.7344 0.525805 15.2 1.1122 15.2H13.3842C13.9714 15.2 14.4498 14.7344 14.4498 14.1608V1.83845C14.4498 1.26485 13.9714 0.800049 13.3842 0.800049Z'/%3E%3C/svg%3E")
    no-repeat;
}

.twitterLink:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-items: center;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 335 276' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m302 70a195 195 0 0 1 -299 175 142 142 0 0 0 97 -30 70 70 0 0 1 -58 -47 70 70 0 0 0 31 -2 70 70 0 0 1 -57 -66 70 70 0 0 0 28 5 70 70 0 0 1 -18 -90 195 195 0 0 0 141 72 67 67 0 0 1 116 -62 117 117 0 0 0 43 -17 65 65 0 0 1 -31 38 117 117 0 0 0 39 -11 65 65 0 0 1 -32 35'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
html[data-theme='dark'] .twitterLink:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 335 276' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='m302 70a195 195 0 0 1 -299 175 142 142 0 0 0 97 -30 70 70 0 0 1 -58 -47 70 70 0 0 0 31 -2 70 70 0 0 1 -57 -66 70 70 0 0 0 28 5 70 70 0 0 1 -18 -90 195 195 0 0 0 141 72 67 67 0 0 1 116 -62 117 117 0 0 0 43 -17 65 65 0 0 1 -31 38 117 117 0 0 0 39 -11 65 65 0 0 1 -32 35'/%3E%3C/svg%3E")
    no-repeat;
  background-repeat: no-repeat;
  background-position: center;
}