name: Deploy

on:
  push:
    branches:
    - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm ci
      - run: npm run build
      - run: mv build ../.
      - run: git checkout gh-pages
      - name: Clean existing files
        run: rm -rf *
      - name: Move build files to repo dir
        run: mv ../build/* .
      - run: git status
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: gh-pages
