.renderCodeblock {
  width: auto;
  margin-bottom: 20px;
  border: 1px solid #999;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.26);
  border-radius: var(--ifm-code-border-radius);
  display: flex;
  flex-direction: column;
  padding: 0;
}
